<h1>Congress Committees</h1>
<button {{action 'getSenateCommittees'}} class="btn btn-primary">Senate</button>
<h2>House Committees</h2>
{{#each model as |committee|}}
  <li>{{#link-to "committee" committee.committee_id}}{{committee.name}}{{/link-to}}</li>
{{/each}}
